@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background-color: #f59d37;
  border-radius: 20px;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;

  border-radius: 20px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 20px;
}
.scroll-bar::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
  height: 6px;
}

.tip-tap-content h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px !important;
  font-weight: 500;
}
.tip-tap-content a {
  color: #f59d37;
}

body img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.tip-tap-content h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 28 !important;
  font-weight: 400;
}
.tip-tap-content ul {
  margin-left: 25px;
  list-style: circle;
}

.tip-tap-content iframe {
  width: 100%;
  height: 400px;
}

.leaflet-container {
  margin-top: 10px;
  height: 380px;
  width: 100%;
  z-index: 10 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: "red" !important;
}
/* className="w-full flex justify-center absolute top-1/2 -translate-y-1/2" */

@supports not (transform: translateY(50%)) {
  .custom-translate {
    position: absolute;
    top: 50%;
    margin-top: calc(-50px); /* metade da altura do elemento */
  }
}
